.spots-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 30px 80px;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.manage-title {
    padding-left: 80px;
}

.spot img {
    margin: 0px;
    height: 200px;
    width: 100%;
    border-radius: 10%; 
} 

.details-container {
    display: flex;
    justify-content: space-between;
}

.rating {
    padding-top: 10px;
}

.buttons {
    display: flex;
    gap:10px
}


.update-delete {
    display: flex;
    gap: 8px;
}



#spot-map-container {
    text-decoration: none;
}

.update-delete > a > button {
    padding: 7px 15px;
    border-radius: 3px;
    box-shadow: 1px 2px 4px black;
    border: none;
    color: white;
    background-color: rgb(139, 92, 92);
}

.postReview {
    padding: 10px 50px;
    margin-bottom: 15px;
    border-radius: 3px;
    box-shadow: 1px 2px 4px black;
    border: none;
    color: white;
    background-color: rgb(139, 92, 92);
}
