.signup-form {
    width: 100%;
}
.signup-form > label{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.redButton {
    border: none;
    padding: 7px 15px;
    color: white;
    background-color: rgb(235, 99, 99);
    box-shadow: 1px 2px 4px black;
}

.all-delete> button {
    padding: 7px 15px;
    border-radius: 3px;
    box-shadow: 1px 2px 4px black;
    border: none;
    color: white;
    background-color: rgb(235, 99, 99);
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}