#spot-container {
    margin: 20px 80px;
}

.name {
    font-size: 30px;
}

.image-list img {
    margin: 0px;
    height: 200px;
    width: 400px;
}

.host-detail {
    font-size: 20px;
}

.state, .host-detail {
    padding: 15px 0px
}