#spot-container {
    margin: 20px 80px;
}

.name {
    font-size: 30px;
}

.image-list img {
    margin: 0px;
    height: 200px;
    width: 400px;
}

.host-detail {
    font-size: 20px;
}

.state, .host-detail {
    padding: 15px 0px
}


.rating-price-button {
    width: 900px;
   
    background-color: rgb(208, 205, 205);
    color: #fff;
    text-align: center;
    padding: 10px;
   
}