.spots-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    gap: 10px
    
}

.img img {
    height: 220px; 
    width: 220px;
    border-radius: 15%;
}   

/* .details-container {
   display:
   
} */