.spots-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 30px 80px;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.img > img {
    margin: 0px;
    height: 200px;
    width: 100%;
    border-radius: 15%; 
} 

.details-container {
    display: flex;
    justify-content: space-between;
}

.spot-detail {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.732)
}

.city-State {
    font-weight: bold;
}

.fa-star {
    color: #dca469
}

.city-State, .price, .ratings-stars {
    text-decoration: none;
}

.load-more-button {
    margin-left: 80px;
    padding: 5px 10px;
    border-radius: 4px;
}