/* TODO Add site wide styles */
#root {
    width: 1024px;
}
body {
    display: flex;
    justify-content: center;
}
button {
    background-color: white;
}

button:hover {
    cursor: pointer;
}

.profile-dropdown > li > button:hover {
    cursor: pointer;
    color: blue;
}

